body {
  background: #ece5dd;
  font-family: Arial;
}

.chat {
  width: 400px;
  margin: 30px auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background: #075e54;
  color: white;
  padding: 12px;
}

#messages {
  height: 350px;
  overflow-y: auto;
  padding: 10px;
}

.user, .bot {
  margin: 6px;
}

.user span {
  background: #dcf8c6;
  padding: 8px;
  border-radius: 8px;
  float: right;
}

.bot span {
  background: #f1f0f0;
  padding: 8px;
  border-radius: 8px;
  float: left;
}

.input {
  display: flex;
  padding: 10px;
}
